@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body {
  overscroll-behavior: none;
}

.add-button {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.my-orange {
  background: rgba(247, 81, 4, 0.699);
}

.glass {
  background: rgba(247, 81, 4, 0.699);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 7px;
}

.glass2 {
  background: rgba(247, 81, 4, 0.699);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  padding: 7px;
}

.glass3 {
  background: rgba(247, 81, 4, 0.699);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: none;
  // padding: 7px;
}


.glass4 {
  background: rgba(247, 81, 4, 0.699);
  backdrop-filter: blur(4px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 7px;
}

.glass5 {
  background: black;

  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 0px;
}

.glass6 {
  background: rgba(247, 81, 4, 0.699);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 2px;
  width: 3rem;
  height: 3rem;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}